@use '../abstracts/variables' as *;

.footer {
  background: #111115;

  &__container {
    padding-top: 40px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $bp-small-desktop) {
      grid-template-columns: 290px 333px 1fr;
    }
  }

  &__logo {
    grid-column: 1;
    margin-bottom: 68px;
  }

  &__menu {
    grid-column: 2;
    justify-self: center;
    align-self: flex-end;
    
  }

  &__donate-btn {
    grid-column: 1;
    border-radius: 5px;
    margin-bottom: 44px;
  }

  &__social-media {
    grid-column: 1;
  }

  &__form {
    grid-row: 1;
    grid-column: 3;
    align-self: start;
    margin-left: 20px;
    @media (max-width: $bp-small-desktop) {
      justify-self: end;
      grid-column: 2 / 4;
      margin-left: 0px;
      margin-right: 32px;
    }
  }

  &__copyright {
    font-size: 16px;
    line-height: 130%;
    max-width: 232px;
    color: $gray;
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: end;
  }

  &__designer {
    margin-bottom: 10px;
  }
}