.header {
  background: #000000;

  &__container {
    min-height: 80px;
    display: flex;
    align-items: center;
  }

  &__logo {
    h1 {
      font-size: inherit;
      text-transform: none;
    }
  }

  &__menu {
    margin-left: 63px;
    flex: 1 1 auto;
    .menu__list > li:last-of-type {
      flex: 1 1 auto;
      text-align: end;
    }
  }

}

