@use '../abstracts/variables' as *;

.header {
  background: #000000;
  z-index: 10;
  @media (max-width: $bp-tablet) {
    position: fixed;
    width: 100%;
  }

  &__container {
    min-height: 80px;
    display: flex;
    align-items: center;
    @media (max-width: $bp-tablet) {
      justify-content: space-between;
      min-height: 0px;
      height: 34px;
    }
  }

  &__logo {
    h1 {
      font-size: inherit;
      text-transform: none;
    }
    @media (max-width: $bp-tablet) {
      padding: 0;
      height: 29px;
      width: 47px;
      font-size: 12px;
      line-height: 15px;
      border: none;
      background: url('./assets/icons/tablet_bamboo.svg') no-repeat;
      background-position: top 13px left 3.5px;
    }
  }

  &__menu {
    margin-left: 63px;
    flex: 1 1 auto;
    .menu__list > li:last-of-type {
      flex: 1 1 auto;
      text-align: end;
    }
    @media (max-width: $bp-tablet) {
      display: none;
    }
  }

  &__burger {
    display: none;
    @media (max-width: $bp-tablet) {
      display: block;
      width: 18px;
      height: 10px;
    }
  }
}

