@use '../abstracts/variables' as *;

.menu {
  &__list {
    display: flex;
    gap: 58px;
    @media (max-width: $bp-1) {
      gap: 48px;
    }
  }

  &__link {
    &_current {
      color: $orange;
      pointer-events: none;
    }
    &:hover {
      color: $green;
    }
  }
}