@use '../abstracts' as *;

.panda {
  max-height: 390px;

  &__image {
    position: relative;
    height: 390px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.donate {
  background: $orange_bg_grad;
  padding-top: 40px;
  padding-bottom: 180px;
  @media (max-width: $bp-responsive) {
    padding-bottom: 30px;
  }
  @media (max-width: $bp-donation-tablet) {
    padding-top: 30px;
    padding-bottom: 46px;
  }
  @media (max-width: $bp-donation-mobile) {
    padding-bottom: 20px;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 10px;
    @media (max-width: $bp-responsive) {
      max-width: 780px;
      margin-bottom: 30px;
    }
    @media (max-width: $bp-donation-tablet) {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 40px;
    @media (max-width: $bp-responsive) {
      margin-bottom: 45px;
    }
    @media (max-width: $bp-donation-tablet) {
      margin-bottom: 30px;
    }
    @media (max-width: $bp-donation-mobile) {
      margin-bottom: 28px;
    }
  }

  &__info {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin-bottom: 60px;
    @media (max-width: $bp-responsive) {
      margin-bottom: 40px;  
    }
    @media (max-width: $bp-donation-tablet) {
      margin-bottom: 30px;
    }
    @media (max-width: $bp-donation-mobile) {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 28px;
    }
  }

  
}