@use '../abstracts' as *;

/* Hero Section
================================================== */
.hero {
  min-height: 700px;
  background-image: url('./assets/images/giant_panda.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 1600px) {
    background-size: 100% 780px;
    background-position: bottom;
  }
  @media (max-width: $bp-small-desktop) {
    min-height: 0;
    height: 547px;
    background-size: $bp-small-desktop 100%;
    margin-top: -43px;
  }
  @media (max-width: $bp-tablet) {
    background-size: $bp-tablet 363px;
    min-height: 0px;
    height: 363px;
    margin-top: 10px;
  }
  @media (max-width: $bp-mobile) {
    height: 284px;
    background-image: url('./assets/images/giant_panda.jpg'),
                      url('./assets/images/flower_foto1_mobile.jpg');
    background-size: 100% 210px, auto;
    background-position: top, right bottom -190px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    position: relative;
    transform-style: preserve-3d;
    width: 500px;
    height: 400px;
    text-align: center;
    text-transform: uppercase;
    font-size: 106.5px;
    font-weight: $fw-bold;
    line-height: 80px;
    color: #ffffff;
    margin-top: 86px;
    margin-bottom: 60px;
    @media (max-width: $bp-small-desktop) {
      width: 400px;
      height: 320px;
      font-size: 85px;
      line-height: 64px;
      margin-bottom: 40px;
      margin-right: 55px;
    }
    @media (max-width: $bp-tablet) {
      width: 256px;
      height: 204px;
      font-size: 54px;
      line-height: 40px;
      margin-right: 0px;
      margin-top: 74px;
      margin-bottom: 0px;
    }
    @media (max-width: $bp-mobile) {
      width: 128px;
      height: 102px;
      font-size: 27px;
      line-height: 20px;
      margin: 64px 0px;
    }
    
    span {
      color: $yellow;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 9px;
      right: 108px;
      width: 465px;
      height: 465px;
      border-radius: 50%;
      background: $orange_btn_grad;
      transform: translateZ(-10px);
      @media (max-width: $bp-small-desktop) {
        width: 367px;
        height: 367px;
        right: 95px;
      }
      @media (max-width: $bp-tablet) {
        width: 237px;
        height: 237px;
        right: 50px;
      }
      @media (max-width: $bp-mobile) {
        width: 120px;
        height: 120px;
        bottom: 0px;
        right: 27px;
      }
    }
  }

  &__btn {
    margin-right: 97px;
    @media (max-width: $bp-small-desktop) {
      margin-right: 107px;
      margin-bottom: 47px;
    }
    @media (max-width: $bp-tablet) {
      align-self: flex-start;
      margin-top: -10px;
    }
    @media (max-width: $bp-mobile) {
      margin: 0 auto;
    }
  }
}

/* Backstage Section
================================================== */
.backstage {
  position: relative;
  padding: 140px 0px 180px;
  background: url('./assets/images/flower_foto1.jpg');
  background-repeat: no-repeat;
  background-position: right 0 top 12px;
  @media (max-width: $bp-small-desktop) {
    padding: 100px 0px 140px;
  }
  @media (max-width: 1280px) {
    background: #ffffff;
  }
  @media (max-width: 999px) {
    padding: 60px 0px 80px;
    background: url('./assets/images/flower_foto1_tablet.jpg') no-repeat;
    background-position: right top;
  }
  @media (max-width: 620px) {
    background-position: right -20px top;
  }
  @media (max-width: 596px) {
    background-position: right -60px top;
  }
  @media (max-width: $bp-mobile) {
    padding: 30px 0px 40px;
    background: url('./assets/images/flower_foto1_mobile.jpg') no-repeat;
    background-position: right top -35px;
  }

  &__container {
    display: flex;
    gap: 87px;
    @media (max-width: $bp-small-desktop) {
      height: 427px;
      gap: 31px;
      align-items: center;
    }
  }

  &__image {
    flex: 0 1 609px;
    height: 403px;
    @media (max-width: $bp-small-desktop) {
      flex: 0 0 455px;
      height: 408px;
    }
    @media (max-width: 999px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    flex: 0 1 465px;
    @media (max-width: $bp-small-desktop) {
      height: 100%;
      flex: 0 0 454px;
    }
    @media (max-width: 999px) {
      flex: 0 0 495px;
    }
    @media (max-width: $bp-mobile) {
      flex: 0 0 300px;
    }
  }

  &__title {
    font-weight: $fw-regular;
    margin-bottom: 20px;
    @media (max-width: $bp-mobile) {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 10px;
    }
  }

  &__paragraph1 {
    line-height: 130%;
    margin-bottom: 54px;
    @media (max-width: $bp-tablet) {
      margin-bottom: 30px;
    }
    @media (max-width: $bp-mobile) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    @extend %subtitle;
    margin-bottom: 34px;
    @media (max-width: $bp-tablet) {
      margin-bottom: 20px;
    }
    @media (max-width: $bp-mobile) {
      margin-bottom: 10px;
    }
  }
}

/* Pets Section
================================================== */
.pets {
  min-height: 1105px;
  background-image: url('./assets/images/palm_foto.jpg'),
                    url('./assets/images/strelitzia.jpg');
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;

  @media (max-width: $bp-responsive) {
    min-height: 1075px;
    background-image: url('./assets/images/palm_foto_sm-desktop.jpg'),
                      url('./assets/images/strelitzia.jpg');
    background-size: auto, 241px 180px;
  }
  @media (max-width: $bp-slider-2) {
    min-height: 970px;
    background-image: url('./assets/images/palm_foto_tablet.jpg'),
                      url('./assets/images/strelitzia.jpg');
    background-size: auto, 175px 131px;
  }
  @media (max-width: $bp-slider-3) {
    min-height: 1522px;
    background-image: url('./assets/images/palm_foto_mobile.jpg'),
                      url('./assets/images/strelitzia_mobile.jpg');
    background-size: auto;
  }

  &__container {
    padding: 0px 30px;
    @media (max-width: $bp-tablet) {
      padding: 0px 20px;
    }
    @media (max-width: $bp-mobile) {
      padding: 0px 10px;
    }
  }

  &__slider {
    margin: 0px auto 80px;
    @media (max-width: $bp-slider-2) {
      margin-bottom: 60px;
    }
    @media (max-width: $bp-slider-3) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin: 0 auto 100px;
    @media (max-width: $bp-slider-3) {
      margin-bottom: 60px;
    }
  }
}

/* Feed Section
================================================== */
.feed {
  background: $orange_bg_grad;
  padding: 69px 0px 100px;
  @media (max-width: $bp-small-desktop) {
    padding: 30px 0px 50px;
  }
  @media (max-width: $bp-tablet) {
    padding: 20px 0px;
  }

  &__container {
    @media (max-width: $bp-tablet) {
      padding: 0px;
    }
  }

  &__content {
    background: $frosted_glass_white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    border-radius: 20px;
    @media (max-width: $bp-small-desktop) {
      padding: 30px 48px 50px;
    }
    @media (max-width: $bp-tablet) {
      padding: 10px 20px 60px;
    }
  }

  &__title {
    color: #fe9013;
    margin-bottom: 30px;
    @media (max-width: $bp-small-desktop) {
      margin-bottom: 20px;
    }
    @media (max-width: $bp-tablet) {
      font-size: 42px;
      line-height: 50px;
    }
  }

  &__subtitle,
  &__paragraph {
    align-self: flex-start;
    margin-left: 100px;
    @media (max-width: $bp-small-desktop) {
      margin-left: 0px;
    }
  }

  &__subtitle {
    @extend %subtitle;
    margin-bottom: 40px;
    @media (max-width: $bp-small-desktop) {
      margin-bottom: 20px;
    }
    @media (max-width: $bp-tablet) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__paragraph {
    a {
      color: inherit;
      padding-bottom: 2px;
      border-bottom: 1px solid #fe9013;
      &:hover {
        color: $orange_dark;
      }
    }
    &:first-of-type {
      font-weight: $fw-medium;
      margin-bottom: 10px;
    }

    &:last-of-type {
      max-width: 863px;
      margin-bottom: 60px;
      line-height: 20px;
      @media (max-width: $bp-small-desktop) {
        margin-bottom: 40px;
      }
      @media (max-width: $bp-tablet) {
        margin-bottom: 30px;
      }
    }
    @media (max-width: $bp-small-desktop) {
      max-width: 813px;
    }
  }

  &__btn {
    margin: 60px auto 59px;
    @media (max-width: $bp-small-desktop) {
      margin: 70px auto 0px;
    }
    @media (max-width: $bp-tablet) {
      margin: 40px auto 0px;
    }
  }
}

/* Testimonials Section
================================================== */
.testimonials {
  min-height: 920px;
  padding-top: 140px;
  padding-bottom: 180px;
  background: url('./assets/images/leav_foto.jpg') no-repeat;
  background-position: bottom -130px right;

  &__title {
    font-size: 36px;
    line-height: 130%;
    color: $black_blue;
    text-align: center;
    margin: 0 auto 47px;
  }

  &__reviews {
    display: grid;
    grid-template-columns: repeat(4, 268px);
    gap: 30px;
    margin-bottom: 15px;
  }

  &__line-scroll {
    width: 100%;
    padding: 0 280px;
    margin-bottom: 25px;

    input {
      -webkit-appearance: none;
      width: 600px;
      height: 6px;
      background: #F5F7F6;
      border-radius: 5px;
      outline: 1px solid #fe9013;
      cursor: pointer;
      &:hover {
        outline-color: $orange_dark;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 6px;
        width: 115px;
        background: #FE9013;
        border-radius: 5px;
        &:hover {
          background: $orange_dark;
        }
      }
    }
  }

  &__btn {
    border-radius: 5px;
  }
}
