html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

h2 {
  font-size: 48px;
  line-height: 120%;
}

h3 {
  font-style: 36px;
  line-height: 130%;
}

.logo {
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  line-height: 120%;
  padding: 3.55px 4.75px;
  height: 52px;
  width: 82px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: url("../../assets/icons/bamboo.svg") no-repeat;
  background-position: bottom 6px left 9px;
}

.btn {
  width: 298px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0px 220px;
}

.header {
  background: #000000;
}
.header__container {
  min-height: 80px;
  display: flex;
  align-items: center;
}
.header__logo h1 {
  font-size: inherit;
  text-transform: none;
  font-weight: inherit;
}
.header__menu {
  margin-left: 63px;
  flex: 1 1 auto;
}
.header__menu .menu__list > li:last-of-type {
  flex: 1 1 auto;
  text-align: end;
}

.menu__list {
  display: flex;
  gap: 58px;
}
.menu__link_current {
  color: #f9804b;
  cursor: default;
}
.menu__link:hover {
  color: #4b9200;
}

.hero {
  min-height: 700px;
  background-image: url("../../assets/images/giant_panda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1600px) {
  .hero {
    background-size: 1600px 780px;
    background-position: bottom;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__title {
  position: relative;
  transform-style: preserve-3d;
  width: 500px;
  height: 400px;
  text-align: center;
  text-transform: uppercase;
  font-size: 106.5px;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
  margin-top: 86px;
  margin-bottom: 60px;
}
.hero__title span {
  color: #ffee2e;
}
.hero__title::before {
  content: "";
  position: absolute;
  bottom: 9px;
  right: 108px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transform: translateZ(-10px);
}
.hero__btn {
  margin-right: 97px;
}

/*# sourceMappingURL=main.css.map */
