.backstage__subtitle, .feed__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../assets/fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../../assets/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  font-style: 36px;
  line-height: 130%;
}

.logo {
  display: block;
  font-size: 19px;
  font-style: normal;
  text-transform: none;
  text-align: center;
  line-height: 120%;
  padding: 3.55px 4.75px;
  height: 52px;
  width: 82px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: url("./assets/icons/bamboo.svg") no-repeat;
  background-position: bottom 6px left 9px;
}

.btn {
  width: 298px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
}
.btn:hover {
  background: #e47209;
}
.btn:active {
  background: #4b9200;
}
.btn:disabled {
  background: #767474;
}

.submit-btn {
  height: 42px;
  padding: 10px 39px;
  color: #000000;
  background: #f1f3f2;
  border: 1px solid #333b41;
  border-radius: 5px;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
}
.submit-btn:focus, .submit-btn:hover {
  color: #4b9200;
  border-color: #4b9200;
}

.animal-card {
  position: relative;
  width: 366px;
  height: 426px;
  border: 1px solid #f9804b;
  border-radius: 5px;
  color: #000000;
}
@media (max-width: 1439px) {
  .animal-card {
    width: 294px;
    height: 354px;
  }
}
@media (max-width: 999px) {
  .animal-card {
    width: 285px;
    height: 332px;
  }
}
.animal-card:hover .animal-card__image img {
  transition: all 0.3s;
  transform: scale(1.06);
}
.animal-card:hover .animal-card__info {
  position: relative;
  transition: all 0.3s;
  transform: translateY(-100px);
  color: #ffffff;
  z-index: 5;
}
.animal-card:hover::after {
  opacity: 0.5;
  z-index: 2;
}
.animal-card__image {
  max-width: 100%;
  height: 366px;
  overflow: hidden;
}
.animal-card__image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1439px) {
  .animal-card__image {
    height: 294px;
  }
}
@media (max-width: 999px) {
  .animal-card__image {
    height: 285px;
  }
}
.animal-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
@media (max-width: 999px) {
  .animal-card__title {
    font-size: 12px;
    line-height: 17px;
  }
}
.animal-card__subtitle {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
@media (max-width: 999px) {
  .animal-card__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}
.animal-card__info {
  width: 100%;
  height: 60px;
  padding: 8px 12px 14px 16px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 999px) {
  .animal-card__info {
    padding: 6px 10px 14px 12px;
  }
}
@media (max-width: 999px) {
  .animal-card__icon {
    max-width: 38px;
    max-height: 30px;
  }
}
.animal-card::after {
  position: absolute;
  content: "";
  top: 260px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0;
}

.slider {
  width: 1158px;
  position: relative;
}
@media (max-width: 1439px) {
  .slider {
    width: 941px;
  }
}
@media (max-width: 999px) {
  .slider {
    width: 600px;
  }
}
@media (max-width: 639px) {
  .slider {
    width: 285px;
  }
}
.slider__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
}
@media (max-width: 1439px) {
  .slider__items {
    gap: 90px 30px;
  }
}
@media (max-width: 999px) {
  .slider__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .slider__items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
}
@media (max-width: 999px) {
  .slider__item:nth-of-type(5), .slider__item:nth-of-type(6) {
    display: none;
  }
}
.slider__nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1324px;
  top: 403px;
  left: -82px;
}
@media (max-width: 1439px) {
  .slider__nav {
    width: 100%;
    top: 368px;
    left: 0px;
    gap: 171px;
    justify-content: center;
  }
}
@media (max-width: 999px) {
  .slider__nav {
    top: 343px;
    gap: 30px;
  }
}
@media (max-width: 639px) {
  .slider__nav {
    display: none;
  }
}
.slider__btn {
  width: 62px;
  height: 62px;
  background: #f9804b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider__btn:hover {
  background: #4b9200;
}
.slider__left-btn {
  transform: rotate(180deg);
}

.review {
  position: relative;
  padding: 15px 22px 21px 16px;
  max-width: 293px;
  max-height: 391px;
  background: #f5f7f6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
@media (max-width: 970px) {
  .review {
    padding: 15px 30px 10px 16px;
    max-width: 600px;
    max-height: 100%;
  }
}
@media (max-width: 550px) {
  .review {
    padding: 10px 30px 15px 12px;
  }
}
.review::before {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  left: -1px;
  top: -1px;
  background: linear-gradient(#febdab 74%, #f3a9f8 66%, #e0d8f0 100%, #eaf7fe 100%, #eaf7fe 100%);
  z-index: -10;
  border-radius: inherit;
}
.review__meta {
  display: grid;
  grid-template-columns: 37px 1fr;
  grid-template-rows: 19px 18px;
  column-gap: 10px;
}
.review__profile-pic {
  grid-column: 1/2;
  grid-row: 1/3;
}
.review__author {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.review__place-time {
  color: #bdbdbd;
}
.review__location {
  margin-right: 5px;
}
.review__time {
  margin-left: 3px;
}
.review__text {
  color: #767474;
  overflow: hidden;
}

.donation-widget {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 40px 92px 62px;
}
@media (max-width: 1599px) {
  .donation-widget {
    padding: 20px 0px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 920px) {
  .donation-widget {
    padding: 30px 0px;
  }
}
@media (max-width: 638px) {
  .donation-widget {
    padding: 20px 0px;
  }
}
.donation-widget__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 20px;
}
@media (max-width: 1599px) {
  .donation-widget__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .donation-widget__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 638px) {
  .donation-widget__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.donation-widget__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 60px;
}
@media (max-width: 920px) {
  .donation-widget__subtitle {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 638px) {
  .donation-widget__subtitle {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 10px;
  }
}
.donation-widget__top-block {
  margin: 0 auto 48px;
  max-width: 532px;
  display: flex;
  gap: 90px;
}
@media (max-width: 1599px) {
  .donation-widget__top-block {
    margin: 0 auto 44px;
  }
}
@media (max-width: 920px) {
  .donation-widget__top-block {
    margin: 0 auto 34px;
  }
}
@media (max-width: 638px) {
  .donation-widget__top-block {
    max-width: 300px;
    gap: 50px;
    margin: 0 auto 4px;
  }
}
.donation-widget__image {
  flex: 0 0 284px;
  height: 246px;
}
@media (max-width: 638px) {
  .donation-widget__image {
    flex: 0 0 160px;
    height: 139px;
  }
}
.donation-widget__image img {
  width: 100%;
  height: 100%;
}
.donation-widget__stats {
  min-width: 160px;
  margin-top: 105px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
}
@media (max-width: 638px) {
  .donation-widget__stats {
    min-width: 0px;
    flex: 0 0 90px;
    font-size: 9px;
    margin-top: 60px;
  }
}
.donation-widget__stats::after {
  content: "";
  position: absolute;
  top: 25px;
  right: -20px;
  width: 14px;
  height: 14px;
  background: url("./assets/icons/x_icon.svg");
}
@media (max-width: 638px) {
  .donation-widget__stats::after {
    width: 8px;
    height: 8px;
    background-size: contain;
    top: 15px;
    right: -15px;
  }
}
.donation-widget__diet-count {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 11px;
}
@media (max-width: 638px) {
  .donation-widget__diet-count {
    font-size: 40px;
    margin-bottom: 6px;
  }
}
.donation-widget__bar-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
@media (max-width: 1599px) {
  .donation-widget__bar-title {
    margin-bottom: 15px;
  }
}
@media (max-width: 920px) {
  .donation-widget__bar-title {
    margin-left: 10px;
    margin-bottom: 6px;
  }
}
@media (max-width: 638px) {
  .donation-widget__bar-title {
    margin-left: 0px;
    margin-bottom: 8px;
  }
}
.donation-widget__progress-bar {
  margin-bottom: 100px;
}
@media (max-width: 920px) {
  .donation-widget__progress-bar {
    margin-bottom: 92px;
  }
}
@media (max-width: 920px) {
  .donation-widget__progress-bar {
    margin-bottom: 98px;
  }
}
@media (max-width: 638px) {
  .donation-widget__progress-bar {
    margin-bottom: 50px;
  }
}
.donation-widget__another-amount {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 9px;
  width: 268px;
  height: 54px;
  margin: 25px auto;
  background: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
  color: #000000;
}
@media (max-width: 1599px) {
  .donation-widget__another-amount {
    margin: 25px auto 30px;
  }
}
@media (max-width: 920px) {
  .donation-widget__another-amount {
    padding: 10px 10px 11px 6px;
    margin: 30px auto 34px;
    width: 180px;
    height: 42px;
  }
}
@media (max-width: 638px) {
  .donation-widget__another-amount {
    margin: 0px auto 26px;
  }
}
.donation-widget__another-amount input {
  background: inherit;
  outline: none;
  border: none;
  height: 100%;
  width: 60%;
  font-size: 16px;
  line-height: 140%;
}
@media (max-width: 920px) {
  .donation-widget__another-amount input {
    width: 116px;
  }
}
.donation-widget__another-amount input::placeholder {
  color: #929699;
}
.donation-widget__another-amount input::-webkit-outer-spin-button, .donation-widget__another-amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donation-widget__another-amount input[type=number] {
  -moz-appearance: textfield;
}
.donation-widget__another-amount input:focus {
  outline: none;
}
.donation-widget__period {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 30px;
}
.donation-widget__period input {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #FE9013;
  border-radius: 50%;
}
.donation-widget__period input:checked {
  background: #4b9200;
  border-color: #4b9200;
}
.donation-widget__period label {
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 100%;
  gap: 10px;
}
.donation-widget__btn {
  margin: 0 auto 30px;
}
.donation-widget__bottom-text {
  text-align: center;
}
@media (max-width: 638px) {
  .donation-widget__bottom-text {
    width: 302px;
  }
}

.progress-bar {
  width: 100%;
  padding: 0px 26px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 120px;
  transform-style: preserve-3d;
}
@media (max-width: 1599px) {
  .progress-bar {
    max-width: 810px;
    padding: 0px 10px;
  }
}
@media (max-width: 920px) {
  .progress-bar {
    max-width: 600px;
    padding: 0px 35px;
  }
}
@media (max-width: 638px) {
  .progress-bar {
    border-radius: 1px;
    height: 14px;
    max-width: 300px;
    padding: 0px 18px;
    gap: 60px;
  }
}
.progress-bar::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 26px;
  right: 30px;
  height: 2px;
  background: #72828E;
  transform: translateZ(10px);
}
@media (max-width: 1599px) {
  .progress-bar::after {
    left: 10px;
    right: 10px;
  }
}
@media (max-width: 920px) {
  .progress-bar::after {
    left: 35px;
    right: 35px;
  }
}
@media (max-width: 638px) {
  .progress-bar::after {
    top: 6px;
    left: 18px;
    right: 18px;
  }
}
.progress-bar__option {
  transform: translateZ(20px);
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1599px) {
  .progress-bar__option:nth-of-type(1) {
    display: none;
  }
}
@media (max-width: 920px) {
  .progress-bar__option:nth-of-type(2), .progress-bar__option:nth-of-type(3) {
    display: none;
  }
}
.progress-bar__option:hover input {
  background: #fe9013;
  cursor: pointer;
}
.progress-bar__option:hover label {
  color: #fe9013;
}
.progress-bar__option input {
  position: relative;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: yellow;
}
@media (max-width: 638px) {
  .progress-bar__option input {
    width: 5px;
    height: 5px;
  }
}
.progress-bar__option input:checked::before {
  display: block;
}
.progress-bar__option input:checked + label {
  color: #fe9013;
}
.progress-bar__option input::before {
  display: none;
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 40px;
  height: 40px;
  background: url("../../assets/icons/roller_icon.svg");
}
@media (max-width: 638px) {
  .progress-bar__option input::before {
    background-size: contain;
    width: 20px;
    height: 20px;
    top: -7px;
    left: -7px;
  }
}
.progress-bar__option input::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -20px;
  left: -20px;
}
@media (max-width: 638px) {
  .progress-bar__option input::after {
    width: 35px;
    height: 35px;
    top: -15px;
    left: -15px;
  }
}
.progress-bar__option input::after:hover input {
  background: #fe9013;
  cursor: pointer;
}
.progress-bar__option input::after:hover label {
  color: #fe9013;
}
.progress-bar__option label {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
  position: absolute;
  top: 30px;
  left: -25px;
  cursor: pointer;
}
@media (max-width: 1599px) {
  .progress-bar__option label {
    left: -10px;
  }
}
@media (max-width: 920px) {
  .progress-bar__option label {
    top: 32px;
    left: -20px;
  }
}
@media (max-width: 638px) {
  .progress-bar__option label {
    font-size: 13px;
    top: 15px;
    left: -10px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0px 220px;
}
@media (max-width: 1440px) {
  [class*=__container] {
    padding: 0px 30px;
  }
}
@media (max-width: 768px) {
  [class*=__container] {
    padding: 0px 20px;
  }
}
@media (max-width: 550px) {
  [class*=__container] {
    padding: 0px 10px;
  }
}

.header {
  background: #000000;
  z-index: 10;
}
@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
  }
}
.header__container {
  min-height: 80px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
    min-height: 0px;
    height: 34px;
  }
}
.header__logo h1 {
  font-size: inherit;
  text-transform: none;
}
@media (max-width: 768px) {
  .header__logo {
    padding: 0;
    height: 29px;
    width: 47px;
    font-size: 12px;
    line-height: 15px;
    border: none;
    background: url("./assets/icons/tablet_bamboo.svg") no-repeat;
    background-position: top 13px left 3.5px;
  }
}
.header__menu {
  margin-left: 63px;
  flex: 1 1 auto;
}
.header__menu .menu__list > li:last-of-type {
  flex: 1 1 auto;
  text-align: end;
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 18px;
    height: 10px;
  }
}

.menu__list {
  display: flex;
  gap: 58px;
}
@media (max-width: 1440px) {
  .menu__list {
    gap: 48px;
  }
}
.menu__link_current {
  color: #f9804b;
  pointer-events: none;
}
.menu__link:hover {
  color: #4b9200;
}

.how-it-works__title {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .how-it-works__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 620px) {
  .how-it-works__title {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.how-it-works__steps {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}
@media (max-width: 999px) {
  .how-it-works__steps {
    gap: 100px;
  }
}
@media (max-width: 768px) {
  .how-it-works__steps {
    gap: 42px;
  }
}
@media (max-width: 620px) {
  .how-it-works__steps {
    flex-direction: column;
    gap: 20px;
  }
}
.how-it-works__step {
  position: relative;
  width: 168px;
  height: 244px;
}
@media (max-width: 620px) {
  .how-it-works__step {
    height: 231px;
  }
  .how-it-works__step:first-of-type {
    height: 222px;
  }
}
.how-it-works__step:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: 62px;
  left: calc(65px - 100%);
  width: 69px;
  height: 36px;
  background: url("./assets/icons/big_right_arrow.svg");
}
@media (max-width: 999px) {
  .how-it-works__step:not(:first-of-type)::before {
    left: calc(80px - 100%);
  }
}
@media (max-width: 768px) {
  .how-it-works__step:not(:first-of-type)::before {
    background: url("./assets/icons/curvy_green_arrow.svg") no-repeat;
    width: 90px;
    height: 35px;
    left: -70px;
    top: -16px;
  }
}
@media (max-width: 620px) {
  .how-it-works__step:not(:first-of-type)::before {
    transform: rotate(85deg);
    top: -50px;
    left: calc(100% - 35px);
  }
}
.how-it-works__icon-box {
  width: 168px;
  height: 168px;
  border: 1px solid #f9804b;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 620px) {
  .how-it-works__icon-box {
    margin-bottom: 10px;
  }
}

.social-media__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 970px) {
  .social-media__list {
    gap: 20px;
  }
}
@media (max-width: 550px) {
  .social-media__list {
    gap: 30px;
  }
}
.social-media__link {
  height: 26px;
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.social-media__link:hover {
  color: #4b9200;
}
.social-media__link:hover .social-media__icon-box {
  background: #4b9200;
}
.social-media__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
}
.social-media__icon-box img {
  width: 16px;
  height: 16px;
}
@media (max-width: 970px) {
  .social-media__label {
    display: none;
  }
}

.subscribe-form:invalid .subscribe-form__email:focus {
  border-color: #d31414;
}
.subscribe-form:invalid .subscribe-form__submit-btn {
  border-color: #d31414;
  color: #d31414;
}
.subscribe-form__email {
  width: 228px;
  height: 100%;
  color: #bdbdbd;
  font-size: 16px;
  line-height: 140%;
  padding: 10px 7px 10px 10px;
  border: 1px solid #f9804b;
  border-radius: 2px;
  outline: none;
  background: transparent;
}
.subscribe-form__email::placeholder {
  color: inherit;
}
.subscribe-form__email:focus {
  border-color: #4b9200;
}
.subscribe-form__email:focus:invalid {
  border-color: #d31414;
}
.subscribe-form__email:focus:invalid .subscribe-form__submit-btn {
  border-color: #d31414;
}
.subscribe-form__title {
  display: block;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 14px;
}
.subscribe-form__input-row {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.footer {
  background: #111115;
}
.footer__container {
  padding-top: 40px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1440px) {
  .footer__container {
    grid-template-columns: 290px 333px 1fr;
  }
}
@media (max-width: 970px) {
  .footer__container {
    padding-top: 12px;
    padding-bottom: 12px;
    grid-template-columns: 55% 45%;
  }
}
@media (max-width: 550px) {
  .footer__container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.footer__logo {
  grid-column: 1;
  margin-bottom: 68px;
}
@media (max-width: 970px) {
  .footer__logo {
    margin-bottom: 32px;
  }
}
@media (max-width: 550px) {
  .footer__logo {
    order: 1;
    border: none;
    padding: 0px;
    width: 128px;
    height: 24px;
    background-position: bottom 7px left 72px;
    margin: 0px;
  }
}
.footer__menu {
  grid-column: 2;
  justify-self: center;
  align-self: end;
}
@media (max-width: 970px) {
  .footer__menu {
    justify-self: start;
    grid-column: 1;
  }
  .footer__menu .menu__list {
    gap: 36px;
  }
}
@media (max-width: 550px) {
  .footer__menu {
    order: 5;
    align-self: auto;
  }
  .footer__menu .menu__list {
    gap: 30px;
  }
}
.footer__donate-btn {
  grid-column: 1;
  border-radius: 5px;
  margin-bottom: 44px;
}
@media (max-width: 970px) {
  .footer__donate-btn {
    grid-row: 2;
    margin-bottom: 67px;
  }
}
@media (max-width: 550px) {
  .footer__donate-btn {
    order: 3;
    margin: 0px;
  }
}
.footer__social-media {
  grid-column: 1;
}
@media (max-width: 970px) {
  .footer__social-media {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
  }
}
@media (max-width: 550px) {
  .footer__social-media {
    order: 2;
  }
  .footer__social-media .social-media__list {
    flex-direction: row;
  }
}
.footer__form {
  grid-row: 1;
  grid-column: 3;
  align-self: start;
  margin-left: 20px;
}
@media (max-width: 1440px) {
  .footer__form {
    justify-self: end;
    grid-column: 2/4;
    margin-left: 0px;
    margin-right: 32px;
  }
}
@media (max-width: 970px) {
  .footer__form {
    display: none;
  }
}
.footer__copyright {
  font-size: 16px;
  line-height: 130%;
  max-width: 232px;
  color: #767474;
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
  align-self: end;
}
@media (max-width: 970px) {
  .footer__copyright {
    grid-column: 2;
    grid-row: 3;
  }
}
@media (max-width: 550px) {
  .footer__copyright {
    order: 4;
    font-weight: 100;
    font-size: 15px;
    line-height: 120%;
  }
}
.footer__designer {
  margin-bottom: 10px;
}

/* Hero Section
================================================== */
.hero {
  min-height: 700px;
  background-image: url("./assets/images/giant_panda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1600px) {
  .hero {
    background-size: 100% 780px;
    background-position: bottom;
  }
}
@media (max-width: 1440px) {
  .hero {
    min-height: 0;
    height: 547px;
    background-size: 1440px 100%;
    margin-top: -43px;
  }
}
@media (max-width: 768px) {
  .hero {
    background-size: 768px 363px;
    min-height: 0px;
    height: 363px;
    margin-top: 10px;
  }
}
@media (max-width: 550px) {
  .hero {
    height: 284px;
    background-image: url("./assets/images/giant_panda.jpg"), url("./assets/images/flower_foto1_mobile.jpg");
    background-size: 100% 210px, auto;
    background-position: top, right bottom -190px;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__title {
  position: relative;
  transform-style: preserve-3d;
  width: 500px;
  height: 400px;
  text-align: center;
  text-transform: uppercase;
  font-size: 106.5px;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
  margin-top: 86px;
  margin-bottom: 60px;
}
@media (max-width: 1440px) {
  .hero__title {
    width: 400px;
    height: 320px;
    font-size: 85px;
    line-height: 64px;
    margin-bottom: 40px;
    margin-right: 55px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    width: 256px;
    height: 204px;
    font-size: 54px;
    line-height: 40px;
    margin-right: 0px;
    margin-top: 74px;
    margin-bottom: 0px;
  }
}
@media (max-width: 550px) {
  .hero__title {
    width: 128px;
    height: 102px;
    font-size: 27px;
    line-height: 20px;
    margin: 64px 0px;
  }
}
.hero__title span {
  color: #ffee2e;
}
.hero__title::before {
  content: "";
  position: absolute;
  bottom: 9px;
  right: 108px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transform: translateZ(-10px);
}
@media (max-width: 1440px) {
  .hero__title::before {
    width: 367px;
    height: 367px;
    right: 95px;
  }
}
@media (max-width: 768px) {
  .hero__title::before {
    width: 237px;
    height: 237px;
    right: 50px;
  }
}
@media (max-width: 550px) {
  .hero__title::before {
    width: 120px;
    height: 120px;
    bottom: 0px;
    right: 27px;
  }
}
.hero__btn {
  margin-right: 97px;
}
@media (max-width: 1440px) {
  .hero__btn {
    margin-right: 107px;
    margin-bottom: 47px;
  }
}
@media (max-width: 768px) {
  .hero__btn {
    align-self: flex-start;
    margin-top: -10px;
  }
}
@media (max-width: 550px) {
  .hero__btn {
    margin: 0 auto;
  }
}

/* Backstage Section
================================================== */
.backstage {
  position: relative;
  padding: 140px 0px 180px;
  background: url("./assets/images/flower_foto1.jpg");
  background-repeat: no-repeat;
  background-position: right 0 top 12px;
}
@media (max-width: 1440px) {
  .backstage {
    padding: 100px 0px 140px;
  }
}
@media (max-width: 1280px) {
  .backstage {
    background: #ffffff;
  }
}
@media (max-width: 999px) {
  .backstage {
    padding: 60px 0px 80px;
    background: url("./assets/images/flower_foto1_tablet.jpg") no-repeat;
    background-position: right top;
  }
}
@media (max-width: 620px) {
  .backstage {
    background-position: right -20px top;
  }
}
@media (max-width: 596px) {
  .backstage {
    background-position: right -60px top;
  }
}
@media (max-width: 550px) {
  .backstage {
    padding: 30px 0px 40px;
    background: url("./assets/images/flower_foto1_mobile.jpg") no-repeat;
    background-position: right top -35px;
  }
}
.backstage__container {
  display: flex;
  gap: 87px;
}
@media (max-width: 1440px) {
  .backstage__container {
    height: 427px;
    gap: 31px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .backstage__container {
    height: auto;
    justify-content: flex-start;
  }
}
.backstage__image {
  flex: 0 1 609px;
  height: 403px;
}
@media (max-width: 1440px) {
  .backstage__image {
    flex: 0 0 455px;
    height: 408px;
  }
}
@media (max-width: 999px) {
  .backstage__image {
    display: none;
  }
}
.backstage__image img {
  width: 100%;
  height: 100%;
}
.backstage__text {
  flex: 0 1 465px;
}
@media (max-width: 1440px) {
  .backstage__text {
    height: 100%;
    flex: 0 0 454px;
  }
}
@media (max-width: 999px) {
  .backstage__text {
    height: auto;
    flex: 0 0 495px;
  }
}
@media (max-width: 550px) {
  .backstage__text {
    flex: 0 0 300px;
  }
}
.backstage__title {
  font-weight: 400;
  margin-bottom: 20px;
}
@media (max-width: 550px) {
  .backstage__title {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 10px;
  }
}
.backstage__paragraph1 {
  line-height: 130%;
  margin-bottom: 54px;
}
@media (max-width: 768px) {
  .backstage__paragraph1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .backstage__paragraph1 {
    margin-bottom: 20px;
  }
}
.backstage__subtitle {
  margin-bottom: 34px;
}
@media (max-width: 768px) {
  .backstage__subtitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .backstage__subtitle {
    margin-bottom: 10px;
  }
}

/* Pets Section
================================================== */
.pets {
  min-height: 1105px;
  background-image: url("./assets/images/palm_foto.jpg"), url("./assets/images/strelitzia.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}
@media (max-width: 1599px) {
  .pets {
    min-height: 1075px;
    background-image: url("./assets/images/palm_foto_sm-desktop.jpg"), url("./assets/images/strelitzia.jpg");
    background-size: auto, 241px 180px;
  }
}
@media (max-width: 999px) {
  .pets {
    min-height: 970px;
    background-image: url("./assets/images/palm_foto_tablet.jpg"), url("./assets/images/strelitzia.jpg");
    background-size: auto, 175px 131px;
  }
}
@media (max-width: 639px) {
  .pets {
    min-height: 1522px;
    background-image: url("./assets/images/palm_foto_mobile.jpg"), url("./assets/images/strelitzia_mobile.jpg");
    background-size: auto;
  }
}
.pets__container {
  padding: 0px 30px;
}
@media (max-width: 768px) {
  .pets__container {
    padding: 0px 20px;
  }
}
@media (max-width: 550px) {
  .pets__container {
    padding: 0px 10px;
  }
}
.pets__slider {
  margin: 0px auto 80px;
}
@media (max-width: 999px) {
  .pets__slider {
    margin-bottom: 60px;
  }
}
@media (max-width: 639px) {
  .pets__slider {
    margin-bottom: 20px;
  }
}
.pets__btn {
  margin: 0 auto 100px;
}
@media (max-width: 639px) {
  .pets__btn {
    margin-bottom: 60px;
  }
}

/* Feed Section
================================================== */
.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 69px 0px 100px;
}
@media (max-width: 1440px) {
  .feed {
    padding: 30px 0px 50px;
  }
}
@media (max-width: 768px) {
  .feed {
    padding: 20px 0px;
  }
}
@media (max-width: 768px) {
  .feed__container {
    padding: 0px;
  }
}
@media (max-width: 620px) {
  .feed__container {
    padding: 0px 10px;
  }
}
.feed__content {
  background: rgba(253, 253, 255, 0.52);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-radius: 20px;
}
@media (max-width: 1440px) {
  .feed__content {
    padding: 30px 48px 50px;
  }
}
@media (max-width: 768px) {
  .feed__content {
    padding: 10px 20px 60px;
  }
}
@media (max-width: 620px) {
  .feed__content {
    padding: 20px 0px 40px;
  }
}
.feed__title {
  color: #fe9013;
  margin-bottom: 30px;
}
@media (max-width: 1440px) {
  .feed__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .feed__title {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (max-width: 620px) {
  .feed__title {
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 10px;
  }
}
.feed__subtitle, .feed__paragraph {
  align-self: flex-start;
  margin-left: 100px;
}
@media (max-width: 1440px) {
  .feed__subtitle, .feed__paragraph {
    margin-left: 0px;
  }
}
.feed__subtitle {
  margin-bottom: 40px;
}
@media (max-width: 1440px) {
  .feed__subtitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .feed__subtitle {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 620px) {
  .feed__subtitle {
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    max-width: 296px;
    align-self: center;
  }
}
.feed__paragraph a {
  color: inherit;
  padding-bottom: 2px;
  border-bottom: 1px solid #fe9013;
}
.feed__paragraph a:hover {
  color: #e47209;
}
.feed__paragraph:first-of-type {
  font-weight: 500;
  margin-bottom: 10px;
}
.feed__paragraph:last-of-type {
  max-width: 863px;
  margin-bottom: 60px;
  line-height: 20px;
}
@media (max-width: 1440px) {
  .feed__paragraph:last-of-type {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .feed__paragraph:last-of-type {
    margin-bottom: 30px;
  }
}
@media (max-width: 1440px) {
  .feed__paragraph {
    max-width: 813px;
  }
}
@media (max-width: 620px) {
  .feed__paragraph {
    display: none;
  }
}
.feed__btn {
  margin: 60px auto 59px;
}
@media (max-width: 1440px) {
  .feed__btn {
    margin: 70px auto 0px;
  }
}
@media (max-width: 768px) {
  .feed__btn {
    margin: 40px auto 0px;
  }
}
@media (max-width: 620px) {
  .feed__btn {
    margin: 30px auto 0px;
  }
}

/* Testimonials Section
================================================== */
.testimonials {
  min-height: 920px;
  padding-top: 140px;
  padding-bottom: 180px;
  background: url("./assets/images/leav_foto.jpg") no-repeat;
  background-position: bottom -130px right;
}
@media (max-width: 1440px) {
  .testimonials {
    min-height: 0px;
    padding-top: 100px;
    padding-bottom: 140px;
    background-size: 200px auto;
    background-position: bottom -90px right;
  }
}
@media (max-width: 970px) {
  .testimonials {
    padding-top: 60px;
    padding-bottom: 80px;
    background-size: 140px auto;
    background-position: bottom -90px right -20px;
  }
}
@media (max-width: 550px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 60px;
    background: url("./assets/images/leav_foto_mobile.jpg") no-repeat;
    background-position: bottom -30px right;
  }
}
.testimonials__title {
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  text-align: center;
  margin: 0 auto 47px;
}
@media (max-width: 1440px) {
  .testimonials__title {
    margin: 0 auto 30px;
  }
}
@media (max-width: 550px) {
  .testimonials__title {
    margin: 0 auto 20px;
    font-size: 24px;
    line-height: 28.8px;
  }
}
.testimonials__reviews {
  display: grid;
  grid-template-columns: repeat(4, 268px);
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}
@media (max-width: 1440px) {
  .testimonials__reviews {
    grid-template-columns: repeat(3, 293px);
    margin-bottom: 10px;
  }
  .testimonials__reviews > *:last-of-type {
    display: none;
  }
}
@media (max-width: 970px) {
  .testimonials__reviews {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 109px);
    justify-items: center;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}
@media (max-width: 550px) {
  .testimonials__reviews {
    margin-bottom: 30px;
  }
}
.testimonials__line-scroll {
  width: 100%;
  padding: 0 280px;
  margin-bottom: 25px;
}
@media (max-width: 1440px) {
  .testimonials__line-scroll {
    margin-bottom: 48px;
  }
}
@media (max-width: 970px) {
  .testimonials__line-scroll {
    display: none;
  }
}
.testimonials__line-scroll input {
  -webkit-appearance: none;
  width: 600px;
  height: 6px;
  background: #F5F7F6;
  border-radius: 5px;
  outline: 1px solid #fe9013;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .testimonials__line-scroll input {
    width: 390px;
  }
}
.testimonials__line-scroll input:hover {
  outline-color: #e47209;
}
.testimonials__line-scroll input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 115px;
  background: #FE9013;
  border-radius: 5px;
}
@media (max-width: 1440px) {
  .testimonials__line-scroll input::-webkit-slider-thumb {
    width: 75px;
  }
}
.testimonials__line-scroll input::-webkit-slider-thumb:hover {
  background: #e47209;
}
.testimonials__btn {
  border-radius: 5px;
}
@media (max-width: 970px) {
  .testimonials__btn {
    margin: 0 auto;
    max-width: 240px;
  }
}

.panda {
  max-height: 390px;
}
.panda__image {
  position: relative;
  height: 390px;
}
.panda__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 40px;
  padding-bottom: 180px;
}
@media (max-width: 1599px) {
  .donate {
    padding-bottom: 30px;
  }
}
@media (max-width: 920px) {
  .donate {
    padding-top: 30px;
    padding-bottom: 46px;
  }
}
@media (max-width: 638px) {
  .donate {
    padding-bottom: 20px;
  }
}
.donate__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (max-width: 1599px) {
  .donate__title {
    max-width: 780px;
    margin-bottom: 30px;
  }
}
@media (max-width: 920px) {
  .donate__title {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
  }
}
.donate__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media (max-width: 1599px) {
  .donate__subtitle {
    margin-bottom: 45px;
  }
}
@media (max-width: 920px) {
  .donate__subtitle {
    margin-bottom: 30px;
  }
}
@media (max-width: 638px) {
  .donate__subtitle {
    margin-bottom: 28px;
  }
}
.donate__info {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin-bottom: 60px;
}
@media (max-width: 1599px) {
  .donate__info {
    margin-bottom: 40px;
  }
}
@media (max-width: 920px) {
  .donate__info {
    margin-bottom: 30px;
  }
}
@media (max-width: 638px) {
  .donate__info {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 28px;
  }
}

/*# sourceMappingURL=main.css.map */
