// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Colors
$orange_btn_grad: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange_dark: #e47209;
$green: #4b9200;
$yellow: #ffee2e;
$black_blue: #333b41;
$frosted_glass_white: rgba(253, 253, 255, 0.52);
$gray_light: #f1f3f2;
$gray: #767474;
$gray_smoky: #ababab;
$red: #d31414;
$orange: #f9804b;
$orange_bg_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$pink_grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

// Breakpoints
$bp-small-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 550px;
