@use '../abstracts/variables' as *;

.btn {
  width: 298px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;  
  color: #ffffff;
  text-transform: uppercase;
  background: $btn_default;
  cursor: pointer;

  &:hover {
    background: $btn_hover;
  }
  &:active {
    background: $btn_active;
  }
  &:disabled {
    background: $gray;
  }
}