@use '../abstracts/variables' as *;

.btn {
  width: 298px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;  
  font-size: 16px;
  line-height: 140%;
  font-weight: $fw-medium;
  color: #ffffff;
  text-transform: uppercase;
  background: $orange_btn_grad;
  cursor: pointer;

  &:hover {
    background: $orange_dark;
  }
  &:active {
    background: $green;
  }
  &:disabled {
    background: $gray;
  }
}

.submit-btn {
  height: 42px;
  padding: 10px 39px;
  color: #000000;
  background: $gray_light;
  border: 1px solid $black_blue;
  border-radius: 5px;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $green;
    border-color: $green;
  }
}