@use '../abstracts/variables' as *;

.animal-card {
  width: 366px;
  height: 426px;
  border: 1px solid $orange;
  border-radius: 5px;
  color: #000000;

  &__image {
    max-width: 366px;
    height: 366px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
  }

  &__info {
    width: 100%;
    height: 60px;
    padding: 8px 12px 14px 16px;
    display: flex;
    justify-content: space-between;
  }
}