@use '../abstracts/variables' as *;

.donation-widget {
  background: $frosted_glass_white;
  border-radius: 20px;
  padding: 40px 92px 62px;
  @media (max-width: $bp-responsive) {
    padding: 20px 0px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: $bp-donation-tablet) {
    padding: 30px 0px;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-bottom: 20px;
    @media (max-width: $bp-responsive) {
      margin-bottom: 10px;
    }
    @media (max-width: $bp-tablet) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: $black_blue;
    margin-bottom: 60px;
    @media (max-width: $bp-donation-tablet) {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  &__top-block {
    margin: 0 auto 48px;
    max-width: 532px;
    display: flex;
    gap: 90px;
    @media (max-width: $bp-responsive) {
      margin: 0 auto 44px;
    }
    @media (max-width: $bp-donation-tablet) {
      margin: 0 auto 34px;
    }
  }

  &__stats {
    min-width: 160px;
    margin-top: 105px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: $black_blue;
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: -20px;
      width: 14px;
      height: 14px;
      background: url('./assets/icons/x_icon.svg');
    }
  }

  &__diet-count {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 11px;
  }

  &__bar-title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    @media (max-width: $bp-responsive) {
      margin-bottom: 15px;
    }
    @media (max-width: $bp-donation-tablet) {
      margin-left: 10px;
      margin-bottom: 6px;
    }
  }

  &__progress-bar {
    margin-bottom: 100px;
    @media (max-width: $bp-donation-tablet) {
      margin-bottom: 92px;
    }
    @media (max-width: $bp-donation-tablet) {
      margin-bottom: 98px;
    }
  }

  &__another-amount {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 16px 9px;
    width: 268px;
    height: 54px;
    margin: 25px auto;
    background: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
    @media (max-width: $bp-responsive) {
      margin: 25px auto 30px;
    }
    @media (max-width: $bp-donation-tablet) {
      padding: 10px 10px 11px 6px;
      margin: 30px auto 34px;
      width: 180px;
      height: 42px;
    }
    
    color: #000000;

    input {
      background: inherit;
      outline: none;
      border: none;
      height: 100%;
      width: 60%;
      font-size: 16px;
      line-height: 140%;
      @media (max-width: $bp-donation-tablet) {
        width: 116px;
      }

      &::placeholder {
        color: #929699;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type=number] {
        -moz-appearance: textfield;
      }
      &:focus {
        outline: none;
      }
    }
  }

  &__period {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto 30px;

    input {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 1px solid #FE9013;
      border-radius: 50%;
      &:checked {
        background: $green;
        border-color: $green;
      }
    }

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      line-height: 100%;
      gap: 10px;
    }
  }

  &__btn {
    margin: 0 auto 30px;
  }

  &__bottom-text {
    text-align: center;
  }
}