.logo {
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  line-height: 120%;

  padding: 3.55px 4.75px;
  height: 52px;
  width: 82px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: url('../../assets/icons/bamboo.svg') no-repeat;
  background-position: bottom 6px left 9px;
}