@use '../abstracts/variables' as *;

$padding-desktop: 26px;
$padding-sm-desktop: 10px;
$padding-tablet: 35px;
$padding-mobile: 18px;

.progress-bar {
  width: 100%;
  padding: 0px $padding-desktop;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 120px;
  transform-style: preserve-3d;
  @media (max-width: $bp-responsive) {
    max-width: 810px;
    padding: 0px $padding-sm-desktop;
  }
  @media (max-width: $bp-donation-tablet) {
    max-width: 600px;
    padding: 0px $padding-tablet;
  }
  @media (max-width: $bp-donation-mobile) {
    border-radius: 1px;
    height: 14px;
    max-width: 300px;  
    padding: 0px $padding-mobile;
    gap: 60px;
  }


  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: $padding-desktop;
    right: 30px;
    height: 2px;
    background: #72828E;
    transform: translateZ(10px);   
    @media (max-width: $bp-responsive) {
      left: $padding-sm-desktop;
      right: $padding-sm-desktop;
    } 
    @media (max-width: $bp-donation-tablet) {
      left: $padding-tablet;
      right: $padding-tablet;
    }
    @media (max-width: $bp-donation-mobile) {
      top: 6px;
      left: $padding-mobile;
      right: $padding-mobile;
    }
  }

  &__option {
    transform: translateZ(20px);
    position: relative;
    display: flex;
    flex-direction: column;
    @media (max-width: $bp-responsive) {
      &:nth-of-type(1) {
        display: none;
      }
    }
    @media (max-width: $bp-donation-tablet) {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        display: none;
      }
    }

    &:hover {
      input {
        background: #fe9013;
        cursor: pointer;
      }

      label {
        color: #fe9013;
      }
    }

    input {
      position: relative;
      -webkit-appearance: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: yellow;
      @media (max-width: $bp-donation-mobile) {
        width: 5px;
        height: 5px;
      }
      &:checked {
        &::before {
          display:block;
        }
        & + label {
          color: #fe9013;
        }
      }
      &::before {
        display: none;
        content: "";
        position: absolute;
        top: -15px;
        left: -15px;
        width: 40px;
        height: 40px;
        background: url('./assets/icons/roller_icon.svg');
        @media (max-width: $bp-donation-mobile) {
          background-size: contain;
          width: 20px;
          height: 20px;
          top: -7px;
          left: -7px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        top: -20px;
        left: -20px;
        @media (max-width: $bp-donation-mobile) {
          width: 35px;
          height: 35px;
          top: -15px;
          left: -15px;
        }
        &:hover {
          input {
            background: #fe9013;
            cursor: pointer;
          }
    
          label {
            color: #fe9013;
          }
        }
      }
    }

    label {
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 140%;
      text-transform: uppercase;
      color: #333B41;
      position: absolute;
      top: 30px;
      left: -25px;
      cursor: pointer;
      @media (max-width: $bp-responsive) {
        left: -10px;
      }
      @media (max-width: $bp-donation-tablet) {
        top: 32px;
        left: -20px;
      }
      @media (max-width: $bp-donation-mobile) {
        font-size: 13px;
        top: 15px;
        left: -10px;
      }
    }
  }
}